.header__logo {
    margin-bottom: 36px;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 940px) {
    .header__logo {
        margin-bottom: 27px;
        margin-left: 30px;
        width: 104px;
        height: 24px;
    }
}