.elements__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, fit-content(282px));
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 940px) {
    .elements__list {
        grid-template-columns: repeat(2, fit-content(282px));
    }
}

@media screen and (max-width: 740px) {
    .elements__list {
        grid-template-columns: repeat(1, fit-content(282px));
    }
}