.auth__title {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .auth__title {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px;
    }
}