.popup__infotooltip-desc {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 320px) {
    .popup__infotooltip-desc {
        font-size: 20px;
        line-height: 24px;
    }
}